.textarea {
    width: 544px;
    border: none;
    font-family: 'Mulish', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-top: 8px;
    border-radius: 2px;
    padding: 18px 0 18px 20px;
}

.textarea:active{
    border: none;
}

.textarea:focus{
    outline: 2px solid #DADADA;
}

.textarea:disabled{
    background-color: #E8E8E8;
    color: #8D8E97
}